<div class="container-fluid stateTemplates">
    <a ui-sref="home">back to Home</a>
    <div class="row searchResults">
        <span ng-show="vm.loading" us-spinner="{radius:30, width:8, length: 16}"></span>
        <div ng-hide="vm.loading" class="col-xs-4" ng-repeat="data in vm.movieSearchResult.Search">
            <div class="panel panel-default">
                <div class="panel-heading">{{data.Title}}</div>
                <div class="panel-body">
                    <img ng-if="data.Poster !== 'N/A'" ng-src="{{data.Poster}}" height="200" width="135">
                    <img ng-if="data.Poster === 'N/A'" ng-src="/../../img/no_poster_available.jpg" height="200" width="135">
                    <p>Filmed in: {{data.Year}}</p>
                    <a ng-click="movieTitle = vm.movieSearchResult.Search[$index].Title; movieYear = vm.movieSearchResult.Search[$index].Year" ui-sref="detail({movieTitle: movieTitle, movieYear: movieYear})">Link to IMDB</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
